* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    display: flex;
    height: 75px;
    background: rgba(34, 34, 34, 1);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left_header_menu {
    display: flex;
    width: 111px;
    height: 38px;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}

.right_header_menu {
    width: 159px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}

.intro_cont {
    display: flex;
    height: 764px;
    background: rgba(241, 228, 230, 1);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main_title {
    display: flex;
    width: 405px;
    height: 93px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.red_line {
    width: 12px;
    height: 93px;
    background: rgba(241, 109, 127, 1);
}

.pink {
    color: rgba(241, 109, 127, 1);
}

.mt_title1 {
    font-size: 48px;
    font-weight: 900;
}

.mt_title2 {
    font-size: 32px;
    font-weight: 700;
}

.categories_cont {
    height: 470px;
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 260px 180px;
    gap: 30px;
    justify-content: center;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat4 {
    grid-column: 1 / 4;
}

.cat_title1 {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    flex-direction: column;
    align-items: center;
}

.cat_title2 {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.items_cont {
    height: 1395px;
    margin-top: 96px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 585px 585px auto;
    gap: 30px;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_title1 {
    display: flex;
    font-size: 30px;
    font-weight: 400;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.item_text {
    font-size: 14px;
    font-weight: 400;
    color: rgba(159, 159, 159, 1);
}

.item1 {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2 {
    background: rgba(248, 248, 248, 1);
}

.item_pic {
    height: 420px;
}

.pic_cont {
    display: flex;
    width: 360px;
    height: 420px;
    justify-content: center;
    overflow: hidden;
}

.pic_back1 {
    background: rgba(243, 237, 237, 1);
}

.pic_back2 {
    background: rgba(247, 228, 226, 1);
}

.item_text_cont {
    display: flex;
    width: 320px;
    gap: 16px;
    height: 165px;
    flex-direction: column;
    justify-content: center;
}

.item_title2 {
    font-size: 13px;
    font-weight: 400; 
}

.price_text {
    font-size: 16px;        
}

.button {
    width: 212px;
    height: 48px;
    border: 1px solid rgba(241, 109, 127, 1);
    background: white;
}

.item3 {
    grid-column: 1 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}